Brlapi==0.6.1
CouchDB==0.8
Cython==0.20.1post0
Django==1.7
Flask==0.11-dev
Flask-Bootstrap==3.3.0.1
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.6
Flask-WTF==0.10.3
GnuPGInterface==0.3.2
Jinja2==2.7.2
M2Crypto==0.21.1
Mako==0.9.1
MarkupSafe==0.18
PAM==0.4.2
Pafy==0.3.62
Pillow==8.2.0
Pmw==1.3.2
PyOpenGL==3.0.2
Pygments==1.6
Pyro==3.14
SQLAlchemy==0.8.4
SecretStorage==2.0.0
Sphinx==1.2.2
Tempita==0.5.2
Twisted-Core==13.2.0
Twisted-Web==13.2.0
UniConvertor==1.1.4
WTForms==2.0.1
Werkzeug==0.9.6
adium-theme-ubuntu==0.3.4
alembic==0.6.2
apt-xapian-index==0.45
argparse==1.2.1
astroid==1.0.1
backports.ssl-match-hostname==3.4.0.2
blinker==1.3
ccsm==0.9.11.2
chardet==2.0.1
click==3.3
colorama==0.2.5
command-not-found==0.3
compizconfig-python==0.9.11.2
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
dnspython==1.11.1
docutils==0.11
duplicity==0.6.23
epydoc==3.0.1
feedparser==5.1.3
flask-heroku==0.1.9
gdata==2.0.18
gpaw==0.5.3667
gunicorn==19.1.1
gyp==0.1
html5lib==0.999
httplib2==0.8
itsdangerous==0.22
keyring==3.5
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
logilab-common==0.61.0
louis==2.5.3
lxml==3.3.3
matplotlib==1.4.x
mechanize==0.2.5
mock==1.0.1
mps-youtube==0.01.46
nose==1.3.1
numpy==1.9.0.dev-b1c69df
oauth==1.0.1
oauthlib==0.6.1
oneconf==0.3.7
pbr==0.7.0
pexpect==3.1
piston-mini-client==0.7.5
psycopg2==2.5.4
py==1.4.26
pyOpenSSL==0.13
pyPdf==1.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pygpgme==0.3
pyinotify==0.9.4
pylint==1.1.0
pymol==1.7.0.0
pyparsing==2.0.2
pyserial==2.6
pysmbc==1.0.14.1
pysqlite==2.6.3
pytest==2.6.4
python-apt==0.9.3.5
python-bibtex==1.2.5
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-launchpad-bugs==0.3.6
pytz==2012c
pyusb==0.4.3
pyxdg==0.25
rdflib==2.4.2
reportlab==3.0
requests==2.2.1
roman==2.0.0
scipy==0.15.0.dev-99aff1e
sessioninstaller==0.0.0
simplejson==3.3.1
six==1.6.1
software-center-aptd-plugins==0.0.0
sqlalchemy-migrate==0.8.2
ssh-import-id==3.21
system-service==0.1.6
tornado==3.2.1
uTidylib==0.2
unity-lens-photos==1.0
urllib3==1.7.1
vasputil==5.5
virtkey==0.63.0
virtualenv==1.11.6
wadllib==1.3.2
wsgi-intercept==0.5.1
wsgiref==0.1.2
xdiagnose==3.6.3build2
xkit==0.0.0
zope.interface==4.0.5
