<!--  -->
{% extends "layout.html" %} 
<!-- monkeypages is a Paginate object -->
{% block body %}
<table class="table table-striped">
  <thead>
    <th><a href="{{ url_for('list_monkeys', page=monkeypages.page, sort_by='name' ) }}"> Name </a></th>
    <th><a href="{{ url_for('list_monkeys', page=monkeypages.page, sort_by='best_friend' ) }}"> Best Friend </a></th>
    <th><a href="{{ url_for('list_monkeys', page=monkeypages.page, sort_by='number_of_friends' ) }}"> Number of Friends </a></th>
  </thead>
  <tbody>
    {% for monkey in monkeypages.items %}
      <tr>
        <td> <a href="{{ url_for('edit', current_monkey_id=monkey.id ) }}"> {{monkey.name}} </a> </td>
        <td> <a href="{{ url_for('best_friend2', current_monkey_id=monkey.id ) }}"> {{monkey.best_friend_name}} </a> </td>
        <td> <a href="{{ url_for('friend2', current_monkey_id=monkey.id ) }}"> {{monkey.lenfriends}} </a> </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if monkeypages.has_prev %}<a href="{{ url_for('list_monkeys', page=monkeypages.prev_num ) }}"><< Up </a>{% else %}<< Up{% endif %} | 
{% if monkeypages.has_next %}<a href="{{ url_for('list_monkeys', page=monkeypages.next_num, method='GET') }}">Down >></a>{% else %}Down >>{% endif %}
{% endblock %}


